.infos{
    margin: 3rem;
    width: 24rem;
    height: 27rem;
}
.infos_content {
    input[type=submit]{
        width: 7rem;
    }
    p {
        margin-right: auto;
    }
    #gerar_senha {
        margin-bottom: 1rem;
    }
    #aviso_gerePass {
        align-self: center;
    }
}
.infos_content_grupo_gerarSenha{
    display: flex;

    label {
        margin-right: 4rem;
    }
}

.modal-content {
    width: 20%;
    height: 50%;
    border-radius: 0.5rem;
}
.opcoes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    gap: 1.5rem;
    img {
        width: 5rem;
    }
    button {
        width: fit-content;
        padding: 0.5rem;
    }
}

