{% extends "base.html" %}
{% load static %}
{% block estilos %}
    <link rel="stylesheet" href={% static "css/inicio.css" %}>
{% endblock estilos %}

{% block main %}
    <div class="infos">
        <div class="infos_content">
            <a href={% url "direcao:direcao" %}>Direção</a>
            <a href={% url "docente:docente" %}>Docente</a>
            <a href={% url "aluno:aluno" %}>Aluno(a)</a>
            <a href={% url "disciplina:disciplina" %}>Disciplina</a>
            <a href={% url "turma:turma" %}>Turma</a>
        </div>
    </div>
{% endblock main %}